

#external {color: yellow;}

/* UNVERSAL SELECTOR */
* { font-family: "Verdana", sans-serif; font-size: 15px;}

/* TYPE SELECTOR */
h1 {font-size: 20px;}

/* ID SELECTOR */
#mustbeuppercase {text-transform: uppercase;}

/*CLASS SELECTOR*/
.green {background-color: lightgreen;}

/* ATTRIBUTE SELECTOR */

li[class="border-blue"] {border: 2px solid rgb(157, 176, 209);}

/*ADJACENT SIBLING SELECTOR*/

img + ul {list-style-type: none;}

/* DESCENDANT SELECTOR */

#circle img 
	{
	height: 300px;
	width: 300px;
	border-radius: 150px;
	}

/* GENERIC SIBLING SELECTOR */

ul ~ p  {text-align: center;}

/* CHILD SELECTOR */

section > h4 {letter-spacing: 5px;}
